{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<p>Methodical, goal-driven professional with 5+ years of experience 
    in systems analysis and IT support functions in the hospital & EMR industry, 
    ensuring the attainment of bottom-line goals, delivering business/client needs, 
    improving processes, and exceeding requirements in team environments. 
    Adept at working with cross-functional teams to guarantee quality work 
    implementation and product support while engaging with customers to 
    understand their needs. Provide expertise in business and systems requirements, 
    user acceptance testing, and end-user training. 
    Leverage robust competencies in forecasting, project management, and 
    strategic planning, as well as excellent communication skills. 
    A performance history of overseeing and implementing multiple platform redesigns 
    successfully. Equipped with an excellent work ethic, a high level of 
    professionalism, and a sense of dependability.</p>
{% endblock %}