{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<h2>Contact? Fill out the form below and we will get back to you as soon as possible!</h2>
<form method="POST" action="{{ url_for('contact') }}">
    <div class="container">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea>
    <button type="submit">Send Message</button>
    </div>
{% endblock %}