{% extends "layout.html" %}
{% block title %}
Experience
{% endblock %}
{% block content %}
<b><center><h1>Professional Experience</h1></center></b>
<u><b><p>Baylor Scott and White Health - Data Core, Baylor University Medical Center, Dallas TX</p></b></u>
<b><p>Analytics Developer I, (November 2021 - Present)</p></b>
<ul>
    <li>Developed and maintained data pipelines for the Data Core team using SQL and Python.</li>
    <li>Developed and maintained Power BI dashboards for the Data Core team.</li>
    <li>Developed reporting and analytics solutions for the medical center by investigating, troubleshooting, and resolving complex system issues as well managing data visualization strategies via dashboard and tools creation, including Epic database Caboodle.</li>
    <li>Developed and maintained documentation for the Data Core team.</li>
</ul>
{% endblock %}