{% extends "layout.html" %}
{% block title %}
Recommendations
{% endblock %}
{% block content %}
<h1>1. Upload your profile shot preferences</h1>
<!-- <form action="{{url_for('upload_file')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file[]" id="file" multiple="">
    <input type="submit" value="Upload" name="submit">
</form> -->

<main>
    <input type="file" id="file" multiple>
    <button type="submit"  id="predict">Predict</button>
    <button type="submit" id="clear">Clear</button>
    <span class="file-form__files" id="number-of-files"></span>
</main>
<!-- <h1>2. Upload your figure type preferences</h1>
<form action="{{url_for('upload_shape')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file[]" id="file" multiple="">
    <input type="submit" value="Upload" name="submit">
</form> -->

<h1>We found recommendations!</h1>
<div id="preview"></div>
<script src="../static/main.js"></script>
{% endblock %}
